/**
 * frontend-components
 * Default settings
 * Overwrite these in your application
 *
 */
$frontend-components-css-box-padding: 12px;
$frontend-components-css-box-border-color: #000;
$frontend-components-css-box-background-color: #fff;
$frontend-components-css-box-circle-diameter: 3em;