/**
 * @components
 * Default settings
 * Overwrite these in your application
 *
 */
$snc-box-padding: 12px;
$snc-box-border-color: #000;
$snc-box-background-color: #fff;
$snc-box-circle-diameter: 3em;