/**
 * @components
 * Standard box
 *
 */
@mixin snc-box (
    $padding: $snc-box-padding,
    $border: $snc-box-border-color,
    $background: $snc-box-background-color
) {
    border: 1px solid #{$border};
    padding: #{$padding};
    position: #{$background};
}

/**
 * @components
 * Circular box
 *
 */
@mixin snc-box-circle (
    $diameter: $snc-box-circle-diameter
) {
    @include snc-box (
        0,
        $snc-box-border-color,
        $snc-box-background-color
    );
    border-radius: 50%;
    display: block;
    height: #{$diameter};
    width: #{$diameter};
    line-height: calc(#{$diameter} - 2px);
    text-align: center;
}