/**
 * @springernature/global-box
 * Default skin settings
 * Replace these in your application
 *
 */
$global-box--padding: 12px;
$global-box--border-color: #000;
$global-box--background-color: #fff;
$global-box--circle-diameter: 3em;