/// The FEC global grid settings
///
/// @group 10-settings
$fec-grid--settings: (
  columns: 12,
  gutter: 16px,
  direction: ltr
);

/// Assign the settings in `$fec-grid` to `$neat-grid`.
///
/// @group 10-settings
$neat-grid: $fec-grid--settings;
