/**
 * @springernature/fec-box
 * Default skin settings
 * Replace these in your application
 *
 */
$fec-box--padding: 12px;
$fec-box--border-color: #000;
$fec-box--background-color: #fff;
$fec-box--circle-diameter: 3em;