/**
 * @springernature/global-box
 * Standard box
 *
 */
@mixin global-box (
    $padding: $global-box--padding,
    $border: $global-box--border-color,
    $background: $global-box--background-color
) {
    border: 1px solid #{$border};
    padding: #{$padding};
    background-color: #{$background};
}

/**
 * @springernature/global-box
 * Circular box
 *
 */
@mixin global-box--circle (
    $diameter: $global-box--circle-diameter
) {
    padding: 0;
    border-radius: 50%;
    height: #{$diameter};
    width: #{$diameter};
    line-height: calc(#{$diameter} - 2px);
    text-align: center;
}